DB_URL=jdbc:mysql://localhost:3306/free_ticket?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=root
DB_PASSWORD=root
JWT_SECRET=
JWT_EXPIRATION=
TOSS_SECRET_KEY=test_gsk_your_widget_secret_key
TOSS_API_BASE_URL=https://api.tosspayments.com
